// color swatches
$swatch-value-1: #3E3E3E;
$swatch-value-2: #F4722B;
$swatch-value-3: #F6E7C1;
$swatch-value-4: #B3A78C;

.main-title {
  display: inline;

  #donny {
    width: 20px;
    height: 20px;
  }
}